<form name="form">
  <br>
  <br>
  <div class="container">
    <label><b>Quantity</b></label>
    <input type="number" placeholder="Enter Quantity" name="Quantity" [(ngModel)]=transcationDetails.quantity style="margin-left: 44px; margin-top: 20px;" required>
  </div>
  <br>

  <div>
    <label><b>Per Price</b></label>
    <input type="number" placeholder="Enter perPrice" name="perPrice" [(ngModel)]=transcationDetails.xrpPerBuyingPrice style="margin-left: 40px; " required>
    <br>
    <div>
      <label><b>Profit</b></label>
      <input type="number" placeholder="Enter Profit" name="profit" [(ngModel)]=transcationDetails.profit style="margin-left: 67px; margin-top: 20px;" required>
      <br>
      <button style="margin-left: 168px; margin-top: 20px;" (click)="getTranscationDetails()">Submit</button>
    </div>
  </div>
</form>

<div>

<p>
  Total Cost(buying):{{transcationDetails.totalBuyingCost}}<br><br>
  Total Cost(Selling): {{transcationDetails.totalSellingcost}}<br><br>
  SP Per XRP:{{transcationDetails.xrpPerSellingPrice}}
</div>